body {
  font-family: var(--font-stack);
  color: var(--base-text-color);
  line-height: var(--base-line-height);
  font-size: var(--base-text-size);
  background-color: var(--background-color);
}

h1, h2, h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.2em;
  color: var(--accent-color);
}

a, a:visited {
  color: var(--accent-color);
}

main {
  max-width: 100ch;
  margin: 1em auto;
}
