main {
  display: grid;
  padding: 0 1em;

  @media (min-width: 800px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 0 2em;
  }
}

.post-link {
  text-decoration: none;
}

.post-link:hover {
  color: white;
  background: var(--accent-color);
}

.post-list {
  list-style: none;
  padding: 0;

  .post-excerpt p {
    margin-top: 0;
  }
}

.category-title {
  font-size: 2em;
  padding-bottom: 0;
  margin-bottom: 0;
}
