@media (min-width: 800px) {
  .recipe-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 0 2em;
    padding: 1em;

    .header {
      grid-row: 1;
      grid-column: 1 / 5;
    }

    .ingredients {
      grid-row: 2;
      grid-column: 5 / -1;

    }

    .instructions {
      grid-row: 2;
      grid-column: 1 / 5;
    }

    .meta {
      grid-row: 1;
      grid-column: 5 / -1;
    }
  }
}


@media (min-width: 320px) and (max-width: 800px) {
  .recipe-grid {
    display: block;
    padding: 0 1em;
  }
}

.header p {
  margin: 0 0 0.5em 0;
}

.tags {
  list-style: none;
}

.ingredient {
  list-style: none;
}

.ingredient-group {
  h3 {
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-weight: bold;
  }

  list-style: none;
}

.instructions ol {
  padding-left: 1em;
}

.instruction {
  margin-bottom: 1.2em;
}

ul {
  padding-left: 0;
}
