:root {
  --base-text-color: #333;
  --base-text-size: 100%;
  --font-stack: Avenir, Helvetica Neue, Helvetica, Arial, sans-serif;
  --base-line-height: 1.6;
  --background-color: #fff;
  --accent-color: #222;
}
