---
layout: default
---

<link rel="stylesheet" href="/assets/css/recipe.css">

{% assign recipe = site.data.recipes[page.recipe] %}

{%- if recipe -%}
<script type="application/ld+json">
 {{ recipe | jsonify }}
</script>
{%- endif -%}

<div class="recipe-grid">
    <section class="header">
        <h1>
            {{ recipe.name }}
            {% if recipe.url %}
            <small>(<a href="{{ recipe.url }}">via</a>)</small>
            {% endif %}
        </h1>

        {{ content }}
    </section>

    <section class="meta">
        <!-- TODO: hook up tags etc. -->
    </section>

    <section class="ingredients">
        <h2>Ingredients</h2>
        <ul>
            {% for i in recipe.ingredients %}
            <li class="ingredient">{{i}}</li>
            {% endfor %}
        </ul>
    </section>

    <section class="instructions">
        <h2>Instructions</h2>
        <ol>
            {% for i in recipe.instructions %}
            <li class="instruction">{{ i }}</li>
            {% endfor %}
        </ol>
    </section>
</div>
